.header__logo {
  background-image: url(../../../images/logo-main.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: calc(27px + (0 - 27) * ((100vw - 320px) / (900 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}