.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-areas: 
  "fullname button"
  "profession .";
  gap: 16px 18px;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .profile__info {
    margin-bottom: 33px;
    gap: 8px 10px;
    padding-left: 25px;
  }
}