.popup-delete__btn {
  width: 358px;
  height: 50px;
  background: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.popup-delete__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .popup-delete__btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}