.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
  .popup__image {
    width: 240px;
    height: 299px;
  }
}